body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    padding: 20px;
    color: #ffffff;
}

.admin-header h1 {
    margin: 0;
}

.admin-profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.admin-name {
    font-size: 1.2em;
}

.admin-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #495057;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.sidebar ul li a:hover {
    background-color: #6c757d;
    color: #f8f9fa; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}


.section {
    margin-bottom: 40px;
    display: none;
}

.section.active {
    display: block; 
}

.section h2 {
    color: #495057;
    border-bottom: 2px solid #e9ecef;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: 600;
}

 #comments-data, #customers-data, #login-data {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 8px;
}


.data-item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; 
}

.data-item:hover {
    background-color: #e9ecef;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px); 
    cursor: pointer; 
}


@media (max-width: 768px) {
    .admin-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .main-content {
        padding: 10px;
    }

    .section h2 {
        font-size: 1.5em;
    }

    .data-item {
        padding: 10px;
    }
}
